<div class="master-content">
    <split direction="horizontal" [gutterSize]="7" [visibleTransition]="true">
        <split-area [size]="30" [visible]="hideleft" [order]="1">
            <div class="left-col">
                <div>
                    <form [formGroup]="userForm" style="width:100%;">
                        <div>
                            <!--<md-icon color="primary">search</md-icon>-->
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <md-input-container>
                                <input formControlName="search" mdInput placeholder="Search here ...">
                            </md-input-container>
                        </div>
                    </form>
                </div>
                <div class="shadowbox">
                    <!--scrollable="true" [scrollHeight]="scrollHeight"-->
                    <p-dataTable [value]="users" selectionMode="single" resizableColumns="true"
                                 [(selection)]="user" (onRowSelect)="onDetailView()"
                                 scrollable="true" [scrollHeight]="scrollHeight">
                        <p-header>There are {{totalRow}} request(s)</p-header>
                        <p-column field="EmployeeCode" header="EmployeeCode" [sortable]="true" [style]="{'width':'15%'}"></p-column>
                        <p-column field="FullName" header="Name" [sortable]="true"></p-column>
                        <p-column field="Username" header="Username" [sortable]="true"></p-column>
                        <p-column field="RoleString" header="Role type" [sortable]="true"></p-column>
                    </p-dataTable>
                </div>
            </div>
        </split-area>
        <split-area [size]="70" [order]="2">
            <div class="media">
                <!--Left-->
                <div class="media-left">
                    <div class="hide-table" (click)="hideleft = !hideleft" mdTooltip="Hide/Show Table" mdTooltipPosition="right">
                    </div>
                </div>
                <!--Center-->
                <div class="media-body">
                    <div *ngIf="user; else elseBlock">
                        <div *ngIf="!showEdit; else detailEdit">
                            <user-detail-view></user-detail-view>
                        </div>
                        <ng-template #detailEdit>
                            <user-detail-edit></user-detail-edit>
                        </ng-template>
                    </div>
                    <ng-template #elseBlock>
                        <h4>
                            Selected user of transportion from list to show information
                        </h4>
                    </ng-template>
                </div>
                <!--Right-->
                <div class="media-right">
                    <div class="menu-tool">
                        <button type="button" md-mini-fab color="primary" (click)="onDetailEdit()" [disabled]="showEdit" mdTooltip="Create new" mdTooltipPosition="left">
                            <i class="fa fa-2x fa-plus" aria-hidden="true"></i>
                        </button>
                        <button type="button" md-mini-fab color="primary" (click)="onDetailEdit(user)" [disabled]="showEdit || UserIsNull" mdTooltip="Edit" mdTooltipPosition="left">
                            <i class="fa fa-2x fa-pencil" aria-hidden="true"></i>
                        </button>
                        <hr />
                        <button type="button" md-mini-fab color="warn" (click)="onCancelEdit()" [disabled]="!showEdit" mdTooltip="Cancel" mdTooltipPosition="left">
                            <i class="fa fa-2x fa-minus" aria-hidden="true"></i>
                        </button>
                        <button type="button" md-mini-fab color="accent" (click)="onSubmit()" [disabled]="!canSave" mdTooltip="Save" mdTooltipPosition="left">
                            <i class="fa fa-2x fa-floppy-o" aria-hidden="true"></i>
                        </button>
                        <hr />
                    </div>
                </div>
            </div>
        </split-area>
    </split>
</div>
