<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at https://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
      <remove name="WebDAV" />
    </handlers>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <!--
       <verbs allowUnlisted="false">
         <add verb="GET" allowed="true" />
         <add verb="POST" allowed="true" />
         <add verb="DELETE" allowed="true" />
         <add verb="PUT" allowed="true" />
       </verbs>
       -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
