<div *ngIf="contact; else NotFoundBlock" class="detail-content">
    <split direction="vertical">
        <split-area [size]="95">
            <div class="col-sm-12 detail-view">
                <div class="col-sm-12 header-detail-view">
                    <h4>Contact contact information</h4>
                </div>
                <!--Row 1-->
                <div class="col-sm-12">
                    <div class="col-sm-2 display-label">
                        Contact Name :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{contact.ContactName || "-"}}
                    </div>

                    <div class="col-sm-2 display-label">
                        Contact Phone :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{contact.ContactPhone || "-"}}
                    </div>
                </div>

                <!--Row 2-->
                <div class="col-sm-12 top-buffer">
                    <div class="col-sm-2 display-label">
                        Location Name :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{contact.LocationName || "-"}}
                    </div>

                </div>
                <!--space buttom-->
                <div class="col-sm-12 top-buffer">
                </div>
            </div>
        </split-area>
        <split-area [size]="5">
            <div>
                <p>
                    wait for information
                </p>
            </div>
        </split-area>
    </split>
</div>
<ng-template #NotFoundBlock>
    <md-progress-bar mode="indeterminate"></md-progress-bar>
    View information of contact.
</ng-template>