<div *ngIf="driver" class="detail-content">
    <split direction="vertical">
        <split-area [size]="95">
            <div class="col-sm-12 detail-view">
                <div class="col-sm-12 header-detail-view">
                    <h4>Employee driver information</h4>
                </div>
                <!--Row 1-->
                <div class="col-sm-12">
                    <div class="col-sm-2 display-label">
                        Employee :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{driver.EmployeeDriveCode || "-"}} คุณ{{driver.EmployeeName || "-"}}
                    </div>
                    <div class="col-sm-2 display-label">
                        Phone Number:
                    </div>
                    <div class="col-sm-4 value-box">
                        {{driver.PhoneNumber || "-"}}
                    </div>
                </div>

                <!--Row 2-->
                <div class="col-sm-12 top-buffer">
                    <div class="col-sm-2 display-label">
                        Car Info:
                    </div>
                    <div class="col-sm-4 value-box">
                        {{driver.CarNo || "-"}}
                    </div>

                    <div class="col-sm-2 display-label">
                        Trailer Info:
                    </div>
                    <div class="col-sm-4 value-box">
                        {{driver.TrailerNo || "-"}}
                    </div>
                </div>
                <!--space buttom-->
                <div class="col-sm-12 top-buffer">
                </div>
            </div>
        </split-area>
        <split-area [size]="5">
            <div>
                <p>
                    wait for information
                </p>
            </div>
        </split-area>
    </split>
</div>
<div *ngIf="!driver">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
    View information of driver.
</div>