<div *ngIf="carData" class="detail-content">
    <split direction="vertical">
        <split-area [size]="90">
            <div class="col-sm-12 detail-view">
                <div class="col-sm-12 header-detail-view">
                    <h4>Car information</h4>
                </div>
                <!--Row 1-->
                <div class="col-sm-12">
                    <div class="col-sm-2 display-label">
                        CarNo :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{carData.CarNo || "-"}}
                    </div>
                    <div class="col-sm-2 display-label">
                        CarType :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{carType?.CarTypeDesc || "-"}}
                    </div>
                </div>

                <!--Row 2-->
                <div class="col-sm-12 top-buffer">
                    <div class="col-sm-2 display-label">
                        Brand :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{carBrand?.BrandName || "-"}}
                    </div>
                    <div class="col-sm-2 display-label">
                        RegisterNo. :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{carData.RegisterNo || "-"}}
                    </div>
                </div>

                <!--Row 3-->
                <div class="col-sm-12 top-buffer">
                    <div class="col-sm-2 display-label">
                        Car Date :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{(carData.CarDate| date:'dd/MM/yyyy') || "-"}}
                    </div>
                    <div class="col-sm-2 display-label">
                        CarWeight(ton.) :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{carData.CarWeight || "-"}}
                    </div>
                </div>

                <!--Row 4-->
                <div class="col-sm-12 top-buffer">
                    <div class="col-sm-2 display-label">
                        Insurance :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{carData.Insurance || "-"}}
                    </div>
                    <div class="col-sm-2 display-label">
                        Expiry date :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{(carData.InsurDate| date:'dd/MM/yyyy') || "-"}}
                    </div>
                </div>

                <!--Row 5-->
                <div class="col-sm-12 top-buffer">
                    <div class="col-sm-2 display-label">
                        ActInsurance :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{carData.ActInsurance || "-"}}
                    </div>
                    <div class="col-sm-2 display-label">
                        Expiry date :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{(carData.ActDate| date:'dd/MM/yyyy') || "-"}}
                    </div>
                </div>

                <!--Row 6-->
                <div class="col-sm-12 top-buffer">
                    <div class="col-sm-2 display-label">
                        Remark :
                    </div>
                    <div class="col-sm-4 value-box">
                        {{carData.Remark || "-"}}
                    </div>
                    <div class="col-sm-2 display-label">
                        Status :
                    </div>
                    <div class="col-sm-4 value-box" [ngClass]="{'use': carData.Status, 'dont-use': !carData.Status}">
                        {{(carData.Status ? "ใช้งาน" : "Cancel") || "-"}}
                    </div>
                </div>

                <!--Row 7-->
                <div class="col-sm-12 top-buffer">
                    <div class="col-sm-2 display-label">
                        Image :
                    </div>
                    <div class="col-sm-10">
                        <img [src]="carData.ImagesString" class="size-img" />
                    </div>
                </div>
                <!--space buttom-->
                <div class="col-sm-12 top-buffer">
                </div>
            </div>
        </split-area>
        <split-area [size]="10">
            <div>
                <p>
                    wait for information
                </p>
            </div>
        </split-area>
    </split>
</div>
<div *ngIf="!carData">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
    View information of car-data.
</div>